<div class="col-md-12">
  <h1>push messages</h1>
  <%= form_tag(url: '/push_messages', local: true) do |form| %>
    <p>channel id</p>
    <%= text_area_tag 'channel_id' %>
    <p>message</p>
    <%= text_area_tag 'message' %>
    <%= submit_tag "é€å‡º" %>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Id</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td>#</td>
          <td><%= channel.channel_id %></td>
          <td><%= channel.channel_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @channels %>
  </div>
</div>
